// Colors

////
/// @group colors
////
$color-1: (
  epub: initial,
  prince: initial,
  web: #373d3f
) !default;
$color-2: $color-1 !default; // highlight color, for titles etc.
$color-3: $color-1 !default; // second highlight color, or black
$color-4: #f1f6fd  !default; // shaded
$color-5: $color-4 !default; // 2nd shaded
$color-5: $color-1 !default;
$color-6: $color-1 !default;

$chapter-number-border-bottom-color: $color-4;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/colors';

// Add custom SCSS below these imports and includes.
@import 'components/colors';
